################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoodHabits.Client/bin/Debug/net8.0
/GoodHabits.Client/obj
/GoodHabits.Database/bin/Debug/net8.0
/GoodHabits.Database/obj
/GoodHabits.HabitService/bin/Debug/net8.0
/GoodHabits.HabitService/obj
/.vs/GoodHabits
